:root {
    /* Colors selected using https://www.realtimecolors.com */
    /* TODO: Fix contrast issues, should they arise */
    --text: #03080c;
    --background: #e3eef7;
    --gradient: #93ceff;
    --primary: #106cb5;
    --secondary: #cbe0f0;
    --accent: #357fbb;
}


/* Rules applied broadly by type of element */
body {
    box-sizing: border-box;
    font-size: 100%;
    color: var(--text);
    background-color: var(--background);
    font-family: 'Raleway', Verdana, Geneva, Tahoma, sans-serif;
    line-height: 120%;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 1.65rem;
    text-align: center;
    font-style: italic;
    margin: 0.75rem 0;
}

h2 {
    font-size: 1.3rem;
    margin: 0.5rem;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
}

p {
    text-indent: 1rem;
    margin: 1rem;
}

figcaption {
    font-size: 0.95rem;
    text-align: center;
    font-style: italic;
    margin-top: 0.5rem;
}

article {
    border-radius: 1rem;
    background-color: var(--primary);
    color: var(--background);
    height: auto;
    margin-bottom: auto;
    padding: 1rem 0;
    margin: 0.5rem;
}

main li {
    margin: 0.5rem 0.5rem 0.5rem 2rem;
}

main ul {
    list-style: disc;
}

main ol {
    list-style: decimal;
}


/* Rules to show and hide "Skip to main content" link */
.skip {
    position: absolute;
    top: -100vh;
}

.skip:focus {
    position: static;
    top: 0;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    border: 0.1rem solid #000;
    border-radius: 1rem;
    margin: 0.2rem;
    padding: 0.25rem;
}


/* Rules to style the navigation bar */
nav ul {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: var(--primary);
    width: 100%;
    line-height: 2.25rem;
}

/* Each link to a page */
nav a {
    font-size: 1.65rem;
    padding: 0.2rem 0.4rem;
    color: var(--background);
}

a.active {
    border: 0.1rem solid var(--accent);
    border-radius: 1rem;
    background-color: var(--background);
    color: var(--text)
}


/* Reusable even column layout */
.even-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
}


/* Styles to layout each recipe via grid */
.recipe {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    row-gap: 1rem;
}

.recipe h2 {
    grid-column: 1 / -1;
    text-align: center;
}

.metadata {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
}

/* Styles for pill shape enclosing text */
.metadata span span {
    margin: 0.5rem 0;
    padding: 0.05rem 1rem;
    border: 0.1rem solid var(--accent);
    border-radius: 1rem;
    background-color: var(--background);
    color: var(--text);
    line-height: 150%;
}

.recipe img {
    grid-column: 2 / span 1;
    align-self: stretch;
    object-fit: cover;
}

.recipe p {
    text-align: center;
    text-indent: 0;
    grid-row-start: 3;
}

.recipe section {
    align-self: first baseline;
}


/* Apply gradient to background if supported */
/* Gradient code generated using https://www.gradient-animator.com/ */
body {
    background: linear-gradient(0deg, var(--gradient), var(--background));
    background-size: 400% 400%;

    -webkit-animation: BackgroundGradient 15s ease infinite;
       -moz-animation: BackgroundGradient 15s ease infinite;
         -o-animation: BackgroundGradient 15s ease infinite;
            animation: BackgroundGradient 15s ease infinite;
}

/* Define background gradient animation with vendor prefixes */
@-webkit-keyframes BackgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes BackgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes BackgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes BackgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}