:root {
    /* Colors selected using https://www.realtimecolors.com */
    /* TODO: Fix contrast issues, should they arise */
    --text: #03080c;
    --background: #e3eef7;
    --primary: #106cb5;
    --secondary: #cbe0f0;
    --accent: #357fbb;
}


/* Rules to show and hide "Skip to main content" link */
.skip {
    position: absolute;
    top: -100vh;
}

.skip:focus {
    position: static;
    top: 0;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    border: 0.1rem solid #000;
    border-radius: 1rem;
    margin: 0.2rem;
    padding: 0.25rem;
}


/* Rules to style the navigation bar */
nav ul {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--primary);
    width: 100%;
    line-height: 2.2rem;
}

nav a {
    font-size: 1.2rem;
    padding: 0.2rem;
    color: var(--background);
}

a.active {
    border: 0.1rem solid var(--accent);
    border-radius: 1rem;
    background-color: var(--background);
    color: var(--text)
}


/*  */